---
title: The basics
---

<script>
    import OutlineCardFlipping from '$lib/cards/OutlineCardFlipping.svelte';
	import { outlines } from '../data/outlines/outlines.ts';
</script>

#### { title }

The aim of the game is writing as little as possible while preserving the content of whatever is being transcribed. This means short 'letters' which join in all sorts of ways, and a process of disemvoweling.

<OutlineCardFlipping outlineObject={outlines[34]} />