@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
	font-family: 'Handwriting', 'Indie Flower', cursive;
	margin: 0;
	padding: 0;
}

:root {
	--regular-font-size: 1.8rem;
}

p {
	font-size: var(--regular-font-size);
	margin: 2rem 0;
	line-height: 1.5;
}

h1 {
	font-size: 4.5rem;
	text-align: center;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

a {
	text-decoration: underline;
	text-decoration-thickness: 8%;
	font-weight: bold;
	color: black;
}

a:hover {
	opacity: 0.6;
}

input {
	font-size: var(--regular-font-size);
}

img {
	width: 100%;
}

li {
	font-size: var(--regular-font-size);
	list-style-position: inside;
	padding-left: 20px;
}

input {
	font-size: var(--regular-font-size);
}

/* Search bar */

.search-input {
	padding: 10px 30px;
	margin-left: 20px;
	border-radius: 50px;
}
