* {
	font-family: 'Handwriting';
	margin: 0;
	padding: 0;
}

p {
	font-size: 2rem;
	margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 3rem;
}

h1 {
	font-size: 5rem;
	text-align: center;
	font-weight: 500;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

a {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

a:hover {
	opacity: 0.6;
}